.login-type {
  display: flex;
  align-items: flex-end;
  width: 319px;
  height: 42.31px;
  border-bottom: 2px #a4aeb7 solid;

  &--item {
    display: flex;
    align-items: center;
    color: #808080;
    cursor: pointer;

    svg {
      margin-right: 5px;
      height: 36px;
      width: 36px;
    }
  }
}
