.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    #ffffff 12.58%,
    #ffe9e9 20.91%,
    #8a1538 34.45%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 78px;
  width: 100%;
  padding: 20px 55px;
  color: #fff;

  &--action {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header-logout {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-left: 40px;

      .logout-icon {
        padding: 5px;
        width: 30px;
        height: 30px;
        background-image: url("../../../assets/image/logo-logout.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .header-btn {
      font-weight: 500;
      line-height: 24px;
      margin-left: 40px;
    }

    .header-notification-badge {
      margin-left: 40px;
      position: relative;

      .notification-icon {
        width: 15px;
        height: 15px;
      }

      .notification-span {
        position: absolute;
        font-size: 10px;
        border-radius: 50%;
        background-color: #fff;
        width: 10px;
        height: 10px;
        color: var(--primary-color);
        top: 2px;
        left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .header-nav {
      margin-left: 40px;

      font-weight: 400;
      font-size: 14px;
      line-height: 16px;

      svg {
        height: 15px;
        width: 12px;
      }

      &--title {
        margin-left: 5px;
      }
    }
  }
}
