.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .main-logo {
    background-image: url("../../../assets/image/logo.png");
    width: 38px;
    height: 38px;
    margin-right: 5px;
  }

  .title-logo {
    margin-left: 4px;
    color: #030505;
    font-weight: 500;
  }
}
