:root {
  --primary-color: #811319;
  --background-color: #e0e0e0;
  --text-color: #000;

  --primary-font-size: 16px;
  --secondary-font-size: 14px;
  --header-font-size: 24px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
  color: var(--text-color);
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-size: var(--primary-font-size);
  padding: 50px 50px 0 50px;
}

.header-title {
  font-size: var(--header-font-size);
  line-height: 28px;
  font-weight: 500;
}

.description-title {
  font-size: var(--secondary-font-size);
  line-height: 16px;

  &--primary {
    font-weight: 500;
  }
  &--secondary {
    font-weight: 400;
  }
}

.active-link {
  color: var(--primary-color);
}

@import "~bootstrap/scss/bootstrap.scss";
