.app-form-container {
  position: relative;
  width: 319px;
  height: 49px;

  .form-input {
    border: none;
    border-bottom: 1px solid #a4aeb7;
    width: 100%;
    background: #fff;

    &:focus,
    &:active {
      outline: none;
    }

    &--select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-image: url("../../../assets/image/Rectangle\ 1203.png");
      background-repeat: no-repeat;
      background-position: calc(100% - 3px) center;
      background-size: 10px;

      &.placeholder-text {
        color: #a4aeb7;
      }
    }
  }

  .eye-icon {
    position: absolute;
    top: 20px;
    right: 2px;
    cursor: pointer;
  }
}
