.app-form-container {
  position: relative;
  width: 319px;
  height: 49px;

  .form-input {
    border: none;
    border-bottom: 1px solid #a4aeb7;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .eye-icon {
    position: absolute;
    top: 20px;
    right: 2px;
    cursor: pointer;
  }

  .error-message {
    color: #4a535c50;
  }
}
